[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
x509_extensions    = v3_ca  # Use v3_ca section for extensions like SAN

[ req_distinguished_name ]
commonName = Common Name (e.g. server FQDN or YOUR name)
commonName_max = 64

[ v3_ca ]
subjectAltName = @alt_names

[ alt_names ]
IP.1 = 192.168.56.1
